* {
    background-color: bisque;
}

div {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
}

input {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}